$bgcolor: #009cd2; 
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: $bgcolor;
    min-width: 320px;
    font-family:  Lantinghei, Microsoft JhengHei, Arial, 新細明體, sans-serif !important;
    line-height: 2em;
}
a{
    color: #fff;
}
.content_title {
    font-family:  Lantinghei, Microsoft JhengHei, Arial, 新細明體, sans-serif !important;
    margin: 10px 0px; 
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    line-height: 1.4em;
    letter-spacing: 0.08em;
    font-weight: 100;
}

.content_text{
    background: #fff;
    border-radius: 1.5em;
    width: 80%;
    padding: 1.5em;
    margin: 10px auto;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    div{
        width: auto;
        margin: 0 auto;
        display: inline-block;
    }
}

.content_text2{
    background: #fff;
    border-radius: 1.5em;
    width: 80%;
    padding: 1.5em;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    div{
        width: auto;
        margin: 0 auto;
        display: inline-block;
    }
}


.content_text4{
    text-align: center;
    background: #fff;
    border-radius: 1.5em;
    width: 80%;
    padding: 1.5em;
    margin: 10px auto;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    p{
        font-size: 12px;
        line-height: 1.5em;
    }
    h4{
        font-family: Lantinghei, Microsoft JhengHei, Arial, 新細明體, sans-serif !important;
        font-size: 1em;
        line-height: 1.5em;
        letter-spacing: 0.08em;
        font-weight: 500;
        margin: 0;    
    }
    div{
        width: auto;
        margin: 0 auto;
        display: inline-block;
    }
}

.content_text5{
    width: 80%;
    font-size: 12px;
    margin: 10px auto;
    text-align: center;
    line-height: 1.5em;
}

.step{
    width: 100%;
    padding: 0 15px;
}
.content_line{
    width: 80%;
    height: 5px; 
    margin: 20px auto;
    background: url(../../public/line.jpg) repeat-x 0 0;
}

.content_button{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    img{
        width: 50%;
        @media only screen and (min-width: 992px) {
            width: 395px;
        }
    }
}
#regForm{
    width: 100%;
}
.formfield{
    width: 100%;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 1.5em;
    .formlabel{
        width: 100%;
        font-size: 1.2em;
        text-align: left;
        padding-left: 1em;
        label{
            color: #fff;
            margin: 0;
            span{
                font-size: 0.8em;
            }
        }
    }
    input[type="text"] {
        width: 100%;
        height: 2em;
        font-size: 18px;
        border-radius: 1em;
        border: 1px solid #ccc;
        background: #fff;
        padding: 1% 3%;
    }
    .select-css {
        display: block;
        font-size: 18px;
        line-height: 1.3;
        padding: 1% 3%;
        width: 100%;
        height: 2em;
        box-sizing: border-box;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: 2em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    .select-css::-ms-expand {
        display: none;
    }
    .select-css:hover {
        border-color: #888;
    }
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }
    .select-css option {
        font-weight:normal;
    }

    @media only screen and (min-width: 992px) {
        .formlabel{
            width: 100%;
            font-size: 1.2em;
            text-align: left;
            padding-left: 1em;
            label{
                margin: 0;
                span{
                    font-size: 0.8em;
                }
            }
        }
        input[type="text"] {
            width: 100%;
            height: 3em;
            font-size: 18px;
            border-radius: 1.5em;
            border: 1px solid #ccc;
            background: #fff;
            padding: 1% 3%;
        }
        .select-css {
            height: 3em;
        }

    }
}
.formfield2{
    width: 100%;
    align-items: center;
    padding: 0 10px;
    margin-top: 2em;
    color: #fff;
}

/* Customize the label (the container) */
.checkboxcontainer {
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    a{
        color: #212529;
        text-decoration: underline;
    }
  }
  
  /* Hide the browser's default checkbox */
  .checkboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0.5em;
    left: 0;
    height: 2em;
    width: 2em;
    background-color: #fff;
    border-radius: 0.5em ;
    border: 1px solid #ddd;
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxcontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxcontainer .checkmark:after {
    left: 0.8em;
    top: 0.5em;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

    .tnccontainer{

        background: #009cd2; 
        margin: 5px 0;
        padding: 10px 0;
        text-align: left;
        font-size: 11px;
        h4{
            font-size: 12px;
        }
        ul{
            margin: 0;
            margin-left: 2em;
            padding: 0;
        }
        li{
            line-height: 1.2em;
        }
    }

.middle {
    position: relative;
    width: 900px;
    margin: 0 auto;
    @media only screen and (max-width: 899px) {
        width: 100%;
    }
}

.middle_inner {
    display: block;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    #s1_2{
        text-align: center; 
        margin: 25px auto; 
        position: absolute; 
        left:0; 
        right:0; 
        bottom: 21px; 
        img{ width: 50%; }
        
    }
    #s2_1{
        background: url(../../public/s2_1.png) no-repeat 0 0;
        background-size: 100%;  
    }
    #s2_2{
        text-align: center; 
        img{ width: 100%; }
    }
    #q2{
        width: 100%;
        height: 4em;
        line-height: 1.8em;
        padding:5px 10px;
        border-radius: 10px;
    }
    #q3{
        width: 100%;
        height: 4em;
        line-height: 1.8em;
        padding:5px 10px;
        border-radius: 10px;
    }
    #s3_3{
        text-align: center; 
        img{ width: 100%; }
    }
   #s5_2{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 5vw;
        @media only screen and (max-width: 575px) {
            bottom: 12vw;
        }
   }
}

.loading{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    .centerloading{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        position: absolute;
        z-index: 3;
        color: #333;
        text-align: center;
    }
}
#logo {
    width: 15%;
    max-width: 284px;
    min-width: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.wrapper {
    margin: 0 auto;
}

.inner_wrapper {
    width: 100%;
}
.visual {
    display: block;
    position: relative;
    
    @media only screen and (max-width: 899px) {
        display: none;
    }
   
    #omologin{
        left: 25%;
        top: 158px;
    }
}
.visual_mob {
    display: block;
    position: relative;
    img{
        width: 100%;
    }
    @media only screen and (min-width: 900px) {
        display: none;
    }
  
    #omologin{
        left: 25%;
        top: 18vw;
        width: 50%;
    }
}
.abslink{
    position: absolute;
}



.font12 {
    font-size: 12px;
}

.font17 {
    font-size: 17px;
}

.font20 {
    font-size: 20px;
}

.font21 {
    font-size: 21px;
    margin: 10px 0;
}

.font24 {
    font-size: 24px;
    line-height: 48px;
}


::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #969696;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #969696;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #969696;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #969696;
}

.alert_border {
    border: red 1px solid;
}

.errormsg {
    color: red;
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: auto;
}

.incorrect_input {
    border: 1px solid red !important;
    color: red;
}

.incorrect_checkbox {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 1) !important;
}



.pick{
    padding: 5px;
    width: 60%;
}
.pick2{
    
}
.question2con{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    div{
        text-align: center;
    }
    #question2img1{
        width: 45%;
        float: left;
    }
    #question2img2{
        width: 51.3%;
        float: right;
    }
    #question2img3{
        width: 47%;
        float: left;
    }
    #question2img4{
        width: 49%;
        float: right;
    }
    #question2img5{
        width: 74%;
        float: left;
    }
}
.shadowfilter {
    -webkit-filter: drop-shadow(2px 0px 7px rgba(0, 0, 0, 0.5));
     filter: drop-shadow(2px 0px 7px rgba(0, 0, 0, 0.5));
     border-style: solid;
     border-width: 5px;
}

.tnclisting{
    p{
        color: #57a3a0;
        margin: 0;
    }
    ul{
        margin: 0;
        padding: 0 2em;
        list-style-type:disc;
    }
    li{
        margin: 5px;
        line-height: 1.2em;
    }
}

.modal-content{
    background: #009cd2;
}
.modal-body{
    padding: 0;
    button{
        padding-top: 15px;
        padding-right: 15px;
    }
}


#tnclink2{
    position: absolute;
    display: block;
    width: 63%;
    height: 1em;
    top: 1333px;
    left: 49px;
    @media only screen and (max-width: 576px) {
        position: absolute;
        display: block;
        width: 62%;
        height: 1%;
        top: 82.7%;
        left: 10%;
    }
}

#tnclink3{
    position: absolute;
    display: block;
    width: 40%;
    height: 1em;
    top: 1471px;
    left: 274px;
    @media only screen and (max-width: 576px) {
        position: absolute;
        display: block;
        width: 39%;
        height: 1%;
        top: 91.2%;
        left: 55%;
    }
}


#tnclink4{
    position: absolute;
    display: block;
    width: 19%;
    height: 1em;
    top: 1487px;
    left: 48px;
    @media only screen and (max-width: 576px) {
        position: absolute;
        display: block;    
        width: 17%;
        height: 1%;
        top: 92%;
        left: 10%;
    }
}

